body{
    background-image: url(imagenes/retro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url(./imagenes/espacio.jpeg);
    padding: 30px 30px 30px 30px;
    border: solid 10px;
    border-radius: 20px 20px 20px 20px;
    border-color: 	#6c878f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background-color: beige;
}

button{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border:solid;
    border-color: red;
    border-radius: 100%;
    background-color:burlywood;
}

#names{
    border: solid;
    border-color: black;
    background-color: wheat;
    padding: 5px;
}

.reset{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reset button{
    border: solid;
    border-color: green;
    border-radius: 10px;
    background-color: bisque;
}


#names button{
    width: 90px;
    height: 70px;
    border: solid;
    border-color: green;
    border-radius: 10px;
    background-color: bisque;
}

.victoryRoad{
    background-color: white;
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.victory{
    border: solid 2px;
    border-color: red;
    font-size: 30px;
}

.victory2{
    border: solid 2px;
    border-color: green;
    font-size: 30px;
}