body{
    background-image: url(imagenes/retro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    /*background-image: url(./imagenes/espacio.jpeg);*/
    padding: 30px 30px 30px 30px;
    border: solid 10px;
    border-radius: 20px 20px 20px 20px;
    border-color: 	#6c878f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background-color: transparent;
}


.container button{
    font-weight: 700;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border:solid;
    border-color: #a570d8;
    border-radius: 100%;
    background-color:#17053f;
    color: white;
    font-size: 30px;
}

#names{
    font-size: courier New;
    border: solid;
    border-color: #a570d8;
    background-color: #17053f;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.reset{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reset button{
    color: white;
    border-radius: 50px 5px 50px 5px;
    border: solid;
    border-color: #a570d8;
    font-size: 15px;
    font-weight: 500;
    background-color: #17053f;
}


#names button{
    width: 90px;
    height: 70px;
    border: solid;
    border-color: #a570d8;
    border-radius: 10px;
    background-color: #17053f;
    color: white;
}

.victoryRoad{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.victory{
    font-size: 30px;
}

.victory2{
    font-size: 30px;
}

input{
    outline: none;
    background-color: #dfe;
    border: 0;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;

}

.theTable{
    font-family: Courier New;
    /*background-image: url(./imagenes/espacio.jpeg);*/
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    border: solid 2px;
    border-color: #a570d8;
    border-radius: 10px 20px 20px 20px;
}

.doubleButtons{
    display: flex;
}

.surprise{
    padding: 10px;
}

.surprise button{
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 50px 5px 50px 5px;
    border: solid;
    border-color: #a570d8;
    background-color: #17053f;
}

.resetScore{
    padding: 10px;
}

.resetScore button{
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 50px 5px 50px 5px;
    border: solid;
    border-color: #a570d8;
    background-color: #17053f;
}

